body {
    padding-top: 60px;
}

.fb-search {
    width: 200px !important;
    border-radius: 25px 25px 25px 25px;
}
.search-button {
  border-radius: 25px 25px 25px 25px;
  border-left:0 solid transparent;
}
.twitter-search {
    width: 575px !important;
}

.icon-low {
  display:block;
  padding-left: 40px;
  color:grey;
}
